{% extends 'base.html' %}

{% block content %}

<div class="text-center">
    <h2>Airports:</h2>

    <table style="width:100%">
  <tr>
    <td><iframe src="https://docs.google.com/a/looker.com/presentation/d/e/2PACX-1vSEIutomP_yODh2sA8E_SMBf8L5cpJoSemoAdGVNwocmAWKEHE3oUX_rn5-14yO13oWvT5XoOsGCUVQ/embed?start=false&loop=false&delayms=3000" frameborder="0" width="430" height="700"></iframe></td>
    <td><iframe src="https://trainembed.corp.looker.com/embed/explore/faa/airports" height="700" width="1000"></iframe></td>
  </tr>
</table>

<p>https://trainembed.corp.looker.com/embed/explore/faa/airports</p>

</div>

{% endblock %}