{% extends 'base.html' %}

{% block content %}

<div class="text-center">
    <h2>Airports:</h2>

    <table style="width:100%">
  <tr>
    <td><iframe src="https://docs.google.com/presentation/d/e/2PACX-1vTleLcE3oLNpYLJp4jsN7Gv1DnDtLIucma3SEWxKhH7OGYTPHSq2Kxf7-SueWQUaAOJVpUm9MQHornQ/embed?start=false&loop=false&delayms=3000" frameborder="0" width="430" height="700"></iframe></td>
    <td><iframe src="https://trainembed.corp.looker.com/embed/explore/faa/airports" height="700" width="1000"></iframe></td>
  </tr>
</table>

<p>https://trainembed.corp.looker.com/embed/explore/faa/airports</p>

</div>

{% endblock %}
