{% extends 'base.html' %}

{% block content %}

<div class="text-center">
    <h2>Flights:</h2>

    <table style="width:100%">
  <tr>
    <td><iframe src="https://docs.google.com/presentation/d/e/2PACX-1vS374sSibRnECPuVeM8VtqnxGKSQfboCK99D5M7Mvi-G8l0HiwragD8kh5udaJn6UDU-Tm33IH-t55Q/embed?start=false&loop=false&delayms=3000" frameborder="0" width="430" height="700"></iframe></td>
    <td><iframe src="https://trainembed.corp.looker.com/embed/explore/faa/flights" height="700" width="1000"></iframe></td>
  </tr>
</table>

<p>https://trainembed.corp.looker.com/embed/explore/faa/flights</p>

</div>

{% endblock %}
