{% extends 'base.html' %}

{% block content %}

<div class="text-center">
    <h2>Flights:</h2>

    <table style="width:100%">
  <tr>
    <td><iframe src="https://docs.google.com/a/looker.com/presentation/d/e/2PACX-1vQOLk3piRERgDci7RoEKY568KTJ3OTcKxbz08dm1ITegSsPpwX3CqVzVKTq0R15BATrJi0DQbUWv1li/embed?start=false&loop=false&delayms=3000" frameborder="0" width="430" height="700"></iframe></td>
    <td><iframe src="https://trainembed.corp.looker.com/embed/explore/faa/flights" height="700" width="1000"></iframe></td>
  </tr>
</table>

<p>https://trainembed.corp.looker.com/embed/explore/faa/flights</p>

</div>

{% endblock %}