{% extends 'base.html' %}

{% block content %}

<div class="text-center">
    <h2>Fruit Basket:</h2>

    <table style="width:100%">
  <tr>
    <td><iframe src="https://docs.google.com/a/looker.com/presentation/d/e/2PACX-1vTz9pQ1kxIMewde51cS2NqT79TwUe4G0aySL3wEDNEyp8wWftnzTlm2CTmURvMqFFl8Em7ofLtmcR-Y/embed?start=false&loop=false&delayms=3000" width="430" height="700"></iframe></td>
    <td><iframe src="https://trainembed.corp.looker.com/embed/explore/looker_training/fruit_basket" height="700" width="1000"></iframe></td>
  </tr>
</table>

<p>https://trainembed.corp.looker.com/embed/explore/looker_training/fruit_basket</p>

</div>

{% endblock %}