{% extends 'base.html' %}

{% block content %}

<div class="text-center">
    <h2>Fruit Basket:</h2>

    <table style="width:100%">
  <tr>
    <td><iframe src="https://docs.google.com/presentation/d/e/2PACX-1vSngC-b6YNQGYD-2iMEX0e1ad2vbLXXPnNqE22pyUZAmbbd1gXnt8tN32-2dRelUsmO4hpbnrZyoeE1/embed?start=false&loop=false&delayms=3000" width="430" height="700"></iframe></td>
    <td><iframe src="https://trainembed.corp.looker.com/embed/explore/looker_training/fruit_basket" height="700" width="1000"></iframe></td>
  </tr>
</table>

<p>https://trainembed.corp.looker.com/embed/explore/looker_training/fruit_basket</p>

</div>

{% endblock %}
